/* Small Devices, Tablets */
@media (max-width: 480px) {
  .mission-text, .imac-section-desc {
    font-size: 14px;
    padding: 0 10px;
    ;
  }
}

@media only screen and (max-width: 768px) {
  h1, h2, h3, h4 {
    font-size: 1.5em;
  }

  .header-right {
    display: none;
  }

  .hero-right {
    padding-top: 140px;
    padding-bottom: 140px;
    margin: auto;
  }

  .hero-btn {
    font-size: 14px;
    width: 150px;
    height: 40px;
    font-weight: normal;
  }

  .hero-image{
    background-position: right 0% bottom 30%;
  }
  .hero-overlay{
    height:100%;
  }

  .header-running-text {
    margin: auto;
    max-width: 80%;
  }

  .mission-text, .imac-section-desc {
    font-size: 25px;
    padding: 0 10px;
    text-align: center;
    max-width: 75%;
    margin: auto;
  }

  .mission-state {
    max-width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
  }

  .mission-content {
    flex-direction: column;
    align-items: center;
  }

  .mission-content {
    flex-direction: column;
    align-items: center;
  }

  .mission-image {
    max-width: 100%;
  }

  .mission-text {
    font-size: calc(15px + 0.5vw);
    /* Base size is 16px and scales with viewport */
    line-height: 1.6;
    padding: 0 15px;
  }

  .white-section {
    padding-right: 0px;
    margin: 0 30px;
  }

  .imac-section-header, .mission-title-text {
    padding-top: 50px;
    text-align: center;
    max-width: 70%;
    margin: auto;
  }

  .imac-section-desc {
    padding-bottom: 50px;
  }

  .features-headline {
    padding-top: 15px;
    font-size: 2em;
  }

  .features-headline-demo {
    font-size: 2em;
  }

  .white-section.row {
    display: flex;
    flex-direction: column;
  }

  #image1 {
    order: 1;
  }

  #text1 {
    order: 2;
  }

  #image2 {
    order: 3;
  }

  #text2 {
    order: 4;
  }

  #image3 {
    order: 5;
  }

  #text3 {
    order: 6;
  }

  .feature-row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .feature {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 80vw;
      height: auto;
      margin: 15px auto;
    }

  .feature-icon {
    margin: auto 40px auto 0;
  }

  .feature-head-text{
    text-align:left;
    font-size: 1.2;
  }

  .feature-text, .feature-subtext {
    text-align: left;
  }

  .feature-subtext{
    margin:0;
    font-size: 0.9em;
  }

  .reminder-section{
    width:80vw;
    height:auto;
    margin:25px auto;
  }

  .reminder-text {
    font-size:1em;
    text-align: left;
    font-weight:400;
  }

  .form-heading {
    font-size: 2em;
  }

  .social-links {
    width: 1.2vw;
    height: auto;
    min-width: 16px;
  }

  .gForm-container {
    padding-bottom: 85%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mission-state {
    font-size: 20px;
    max-width: 80%;
  }

  .social-links {
    width: 1.5vw;
    height: auto;
    min-width: 18px;
  }
}

@media (min-width: 1024px) {
  .mission-text, .imac-section-desc {
    font-size: 24px;
  }

  .mission-text {
    line-height: 1.5;
  }
}

@media only screen and (min-width: 768px) {
  .header-right {
    display: block;
    float: right;
    padding: 6px 20px;
  }

  .header-headline {
    text-align: center;
    max-width: 380px;
    padding-top: 175px;
  }

  .header-running-text {
    line-height: 30px;
    margin: 0;
    text-align: center;
  }

  .hero {
    padding-bottom: 230px;
  }

  .hero-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .hero-right {
    text-align: center;
    z-index: 1;
  }

  .feature-section {
    padding-top: 60px;
  }

  .features-headline {
    color: black;
    padding-bottom: 70px;
  }

  .features-headline-mission {
    color: white;
  }

  .logos {
    padding: 30px;
    max-width: 100%;
  }

  .white-section-text {
    text-align: left;
    padding-top: 80px;
  }

  .imac-section-desc {
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    max-width: 400px;
    margin: inherit;
    text-align: left;
  }

  #text1, #text3 {
    order: 1;
  }

  #image1, #image2, #image3 {
    order: 2;
  }

  #text2 {
    order: 3;
  }
}
